html {
  background-color: #333;
  font-family: 'Fira Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

a,
a:visited {
  color: #369;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe.import {
  border: 0;
  height: 1.1rem;
  overflow: hidden;
  width: 17rem;
}

.code {
  color: #fff;
  background-color: #282a36;
  border: dotted 1px;
  font-family: Consolas, 'Courier New', monospace;
  margin-bottom: 20px;
  padding: 10px;
}

.ident {
  margin-bottom: 0px;
  margin-left: 15px;
  margin-top: 0px;
}

.menu1 {
  border: none;
  height: 150px;
  width: 200px;
}

.menu2 {
  border: none;
  height: calc(100vh - 26px);
  position: sticky;
  top: 0px;
  width: 200px;
}

.maintitle {
  border-bottom: dotted 1px;
  color: #793862;
  font-size: 22px;
  font-weight: bold;
}

.title {
  border-bottom: dotted 1px;
  color: #793862;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px
}

.menu {
  border-bottom: dotted 1px #ccc;
}

.meta,
.meta a {
  color: #ccc;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}

.menulink {
  color: #ccc !important;
}

.func {
  color: #50fa7b !important;
}

.type {
  color: #ff79c6;
}

.code .var {
  color: #fff;
}

.var {
  color: #369
}

.const {
  color: #bd93f9;
}

.string {
  color: #f1fa8c;
}

.comment {
  color: #6272a4;
}

.code .object {
  color: #8be9fd
}

.object {
  color: #369
}

.argument {
  color: #ffb86c !important
}